<html>
    <head>
        <title>Настин сайт</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Этот сайт сделала Настя</a></h1>
        </div>

        <div>
            <p>Настя молодец!</p>
            <h2><a href="">Пост Любви</a></h2>
            <p>Мои девочки самые лучшие! Я люблю девочек! Спасибо за поддержку!</p>
        </div>

        <div>
            <p>Сегодня 21 апреля</p>
            <h2><a href="">Я сдам экзамены?</a></h2>
            <p>Я надеюсь, что сдам! А потом мы напьёмся!</p>
        </div>

        <div>
            <h2><a href="">P/S/</a></h2>
            <p>Спасибо, что вы у меня есть</p>
        </div>
    </body>
</html>